<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method = "POST">
        <label for="username">Username</label>
        <input type="text" name="username"><br>
        <label for="email"name="email">Email</label>
        <input type="email"name = "email"><br>
        <label for="password">Password</label>
        <input type="password" name="password"><br>
        <label for="confirmpassword">Confirm password</label>
        <input type="password"name= "confirmpassword"><br>
        1<input type="radio" name="godinastudija" checked>
        2<input type="radio" name="godinastudija" >
        3<input type="radio" name="godinastudija" >
        4<input type="radio" name="godinastudija" ><br>

        <label for="jmbg">JMBG</label>
        <input type="number"name="jmbg"><br>
        <input type="submit"value = "Potvrda">


    
    </form>
</body>
</html>